# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/


# Data & logs
data_outputs/
*.log

# IDE
.vscode/
.idea/
