# requirements.txt

--extra-index-url https://download.pytorch.org/whl/cpu

python-dateutil
requests
ta
joblib
pandas
scikit-learn
numpy==1.26.4
torch==2.2.2+cpu
psycopg2-binary
ccxt==4.2.95
python-dotenv
